temp_artifacts/
output_plots/
data/
*.env
*.example

.DS_Store
.vscode/
*.swp
*~

*.pyc
__pycache__/
*.pyd
*.egg
*.egg-info/
.pytest_cache/

venv/
env/
.venv/
/virtualenv/

*.lock

*.log
*.sqlite
*.db

.env

*.tsbuildinfo

.eslintcache
.prettier-cache

coverage/
playwright-report/
test-results/
